body {

  background-color: $color-background-black;
}

div.index {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#header {

  padding: 1em;
  border: solid 3px $color-white;


  h1 {
    margin: 0;

    &+span {

    }
  }
    p {
      margin: 0;
    }
}

#body {
  flex: 1 0 auto;
}

#footer {
  border: solid 1px $color-grey2;
  border-width: 1px 0 0 0;
  background-color: $color-grey1;

  padding: 1em;
}
