body {

  background-color: $color-background-black;
}

div.index {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

header {

  background-color: $color-grey1;

  padding: 2em 15em;
  margin-bottom: 2em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  h1 {
    margin: 0;
  }



  .sub-title,  p{
    font-family: $font-serif;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 0;
    margin-top: 0;
  }

  #github-link {
    a,img {
      display: block;
    }
  }



}

#body {
  flex: 1 0 auto;
}

footer {
  border: solid 1px $color-grey2;
  border-width: 1px 0 0 0;
  background-color: $color-grey1;

  margin-top: 2em;
  padding: 2em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}
