body {
  background-color: $color-background-black;
}

div.index {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

header {

  background-color: $color-grey1;
  padding: 1em;

  &>div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }



  @include tablet-up {
    padding: 2em 15em;
    margin-bottom: 2em;
  }

  h1 {
    margin: 0;
  }

  .sub-title,  p{
    font-family: $font-serif;
    margin-top: 0.5em;
    margin-left: 1em;
    margin-bottom: 1em;
  }

  p {
    margin-bottom: 0.5em;
    margin-top: 0;
  }

  #github-link {

    img {
      width: 4em;

      @tablet-up {
        width: 8em;
      }
    }

    a,img {
      display: block;
    }
  }



}

#body {
  flex: 1 0 auto;
}

footer {
  border: solid 1px $color-grey2;
  border-width: 1px 0 0 0;
  background-color: $color-grey1;

  margin-top: 2em;
  padding: 2em;

  display: flex;

  flex-flow: column nowrap;
  align-items: center;

  table {
    order: -1;

    @include tablet-up {
      order: 1;
    }
  }

  @include tablet-up{
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
  }

}
