.icon {

  width: 2em;
  height: auto;
  margin: 0.5em;

  &.icon-large {
    width: 8em;
    height: auto;
  }

  &.icon-github {
    content: url("../images/icon-github.png");
  }

  &.icon-phone {
    content: url("../images/icon-phone.png");
  }

  &.icon-email {
    content: url("../images/icon-email.png");
  }

  &.icon-stackoverflow {
    content: url("../images/icon-stackoverflow.png");
  }

  &.icon-linkedin {
    content: url("../images/icon-linkedin.png");
  }
}

.badges {
  img.badge {
    display:block;
    width: 18em;
    height: auto;
    margin: 1em;

    &.badge-oracle {
      content: url("../images/badge-oracle.png");

    }

  }

}
