
.module-container {

  display:flex;
  flex-flow: column nowrap;
  align-items:center;
  margin: 0;


  @include tablet-up{

  }


}


section.module {

  display: block;
  background-color: $color-background-grey;
  flex: 0 1 auto;

  border-radius: 1em;
  margin: 1em;

  @include tablet-up {
    width: 60em;
    padding: 0.25em 1.5em 1.5em;
    margin: 1em;
  }

  .module-title {
    h2 {
      text-align: center;
      margin: 0.5em 0 0.2em;
    }
  }

  .module-body {
    padding: 0.25em;
    border:none;
  }




}
