
.module-container {

  display:flex;
  flex-flow: column nowrap;
  align-items:center;
  margin: 0;


  @include tablet-up{

  }


}


section.module {

  display: block;

  flex: 0 1 auto;
  width: 60em;

  background-color: $color-background-grey;


  padding: 0.25em 1.5em 1.5em;
  margin: 1em;
  border-radius: 1em;

  .module-title {
    h2 {
      text-align: center;
      margin: 0.5em 0;
    }
  }

  .module-body {
    padding: 0.25em;
    border:none;
  }




}
