section.module {

  display: block;

  flex: 0 1 auto;

  border: solid 1px $color-white;

  padding: 0;
  margin: 1em;

  .module-title {
    h2 {
      text-align: center;
      margin: 0.5em 0; 
    }
  }

  .module-body {
    padding: 0.25em;
    border:none;
  }




}
