table.contact-details {

  &, a {
    color: $color-white;
    font-weight: normal;

  }

  td:first-child {

    padding-right:1em;
    vertical-align: middle;

  }

  tr {
    display: block;

    @include tablet-up {
      display: table-row;
    }
  }

  tr.telephone {

    @include tablet-up {
      a {
        pointer-events: none;    /* prevents click event */
        cursor: text;            /* use text highlight cursor*/
      }
    }

  }

  tr.shrink-when-small {
    display: inline-block;

    @include tablet-up {
      display: table-row;
    }

    td:last-child {
      display: none;


      @include tablet-up{
        display:table-cell;
      }
    }
  }


}
