$color-white: white;
$color-grey1: #333;
$color-grey2: #111;

$color-background-black: #111;
$color-background-grey: #444;

$color-error-red: #f26;

$color-link-yellow: #CC6;
$color-link-yellow-hover: #993;


$font-serif: "Georgia";
$font-sans: "Arial";
