body {
  font-family: $font-sans;
}

h1,h2,h3,h4,h5,h6 {

  &, &+.sub-title {
    font-family: $font-serif;
    display: block;
  }
}

a {
  font-weight: bold;

  color: $color-link-yellow;

  &:hover {
      color:$color-link-yellow-hover;
  }
}
