

@import "theme";
@import "typography";

@import "mixin/media";

@import "main";
@import "images";
@import "table";
@import "header";
@import "module";


/* Base Application Styles */
body {
  color: #fff;
  background: #222;


  #app {


    img.loader {
      width: 3em;
      height: 3em;
    }
  }
}
