

@import "theme";
@import "typography";

@import "mixin/media";

@import "main";
@import "images";
@import "table";
@import "header";
@import "module";

@import "module/bootstrap";
@import "module/css-animation";
@import "module/d3";
@import "module/opendata";


/* Base Application Styles */
body {
  color: #fff;
  background: #222;


  #app {


    img.loader {
      width: 3em;
      height: 3em;
    }
  }
}
