@import "../theme";

#css-animation{
  .body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 1em;


    p {

      flex: 0 0 100%;
      text-align: center;
      margin: 0;
    }


    .animation-example {

      flex: 0 0 40%;

      font-size: 2em;
      padding: 1em;
      margin: 0.5em;
      border: solid 1px $color-white;

      width: 6em;
      height: 6em;


      &.fade-in{
        color: #333;

        border: dashed 0.5em transparent;
        animation: fade-out 0.5s;
        &:hover {
          animation: fade-in 2s normal forwards linear;
        }
      }

      &.slide-down {

        border-radius: 0.5em;
        border: none;
        position: relative;
        overflow-y: hidden;

        padding: 0;

        box-sizing: border-box;
        z-index: 4;


        span {
          font-size: 1.2rem;
          display: block;
          text-align: center;
          //padding: 0.4em;
          height: 3rem;
          border: solid 2px white;

          background-color: $color-grey1;
          border-radius: inherit;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;

          box-sizing: inherit;
          z-index:3;

        }

        .inner {

          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          align-items: stretch;
          border-radius: inherit;
          border: solid 2px white;
          position: absolute;
          left: 0;
          right: 0;
          top: -4.5em;
          height: 100%;

          z-index: 2;

          box-sizing: inherit;



          padding-top: 2em;

          .bottom {
            background-color: white;
            height: 1em;
            z-index: 1;

            border-radius: inherit;
          }



          &:hover {
            animation: slide-in 0.5s normal forwards linear;
          }

        }

      }

    }


  }
}


@keyframes slide-in  {

  0% {
    top: -5em;

  }

  100% {
    top: -0.5em;
  }
}



@keyframes fade-out {
  0% {
    border-color: $color-grey1;
  }
  100% {
    border-color: transparent;
  }
}

@keyframes fade-in {
  0% {
    border-color: transparent;

  }
  100% {
    border-color: $color-grey1;
  }
}
