@import "../theme";

svg {
  background-color: #ddd;

  circle, rect {
    background-color: red;

    stroke: red;
    fill: blue;
  }
}

#d3 {
  .body {
    display:flex;
    flex-flow: row wrap;

    .svg-container {
      flex: 1 0 auto;
    }

    .controls {
      padding: 1em;
      display: flex;
      flex-flow: column nowrap;



      .input-pair {

        display: flex;
        flex-flow: row nowrap;

        input {
          margin: 0.25em;
          flex: 1 0 auto;
        }

        .error {
          width: 2em;
          height: 2em;
          margin: 0.1em;
          border: solid 1px white;

          &.invalid {
            span {
              display: block;
              color: $color-error-red;
              font-size: 1.4em;
              height: 100%;
              border: solid 2px transparent;
              margin-top: 2px;
            }
          }

          &.valid {
            span {
              display: none;
            }
          }
        }
      }

    }



  }



}
