@import "../theme";

#opendata {
  .module-body {
    display: flex;
    flex-flow: row nowrap;

    div {
      flex: 0 1 auto;
      padding: 1em;
    }

    .details {
      flex: 1 1 auto;
      padding-right: 3em;
    }

    &  .img-container {

      flex: 0 0 20em;
      box-sizing: border-box;
      margin-right: 1em;
      padding-top: 4em;

      display:flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items:center;

      img {
        width: 100%;
        height: auto;
      }

    }

    //We're setting the image to have a min width, and filling the table from there


  }


}

.movie, .person {

  table {

    border-spacing: 2em;

    tr {
      td:first-child{
        width: 8em;
      }

      td {
        vertical-align: top;
        padding: 0.5em;
      }
    }


  }


  li,ul {
    list-style-type: none;
    padding: 0.1em;
    padding-left:0;
  }

  a {
    &:hover {
      cursor: pointer;
    }
  }
}
